<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>com.todo.controller.UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>com.todo.controller.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.todo.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TodoRegister</servlet-name>
        <servlet-class>com.todo.controller.TodoRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTodo</servlet-name>
        <servlet-class>com.todo.controller.UpdateTodo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/UserRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TodoRegister</servlet-name>
        <url-pattern>/TodoRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTodo</servlet-name>
        <url-pattern>/UpdateTodo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
